name: CD - Auto Deploy

on:
  workflow_run:
    workflows: ["CI - Build & Test"]
    types:
      - completed

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'
    runs-on: ubuntu-latest

    steps:
      # ===== Checkout source =====
      - name: Checkout source
        uses: actions/checkout@v4

      # ===== Setup Flyctl =====
      - name: Setup Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@v1

      # ===== Deploy to Fly =====
      - name: Deploy
        run: flyctl deploy --remote-only --no-cache --strategy immediate
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}