name: CI - KIỂM TRA VÀ BUILD

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Lấy mã nguồn
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Kiểm tra syntax PHP
      - name: Check PHP syntax
        run: find . -name "*.php" -exec php -l {} \;

      # 3. Build Docker image để đảm bảo Dockerfile không lỗi
      - name: Build Docker image
        run: docker build -t test-image .

      # 4. Đảm bảo Php version 8.2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'