name: CI - Build & Test

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      # ===== Docker Build Cache =====
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        run: docker build -t milk_app:test .

      # ===== Run container for testing =====
      - name: Run container
        run: |
          docker run -d -p 8080:80 --name test_app milk_app:test
          sleep 15

      # ===== Health Check =====
      - name: Test HTTP response
        run: |
          STATUS=$(curl -o /dev/null -s -w "%{http_code}" http://localhost:8080)
          echo "HTTP STATUS: $STATUS"
          if [ "$STATUS" -ne 200 ]; then
            echo "Application failed health check"
            docker logs test_app
            exit 1
          fi

      - name: Stop container
        run: docker rm -f test_app