name: Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 192.168.17.129
          username: duongchihai
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/ECMP186-NHOM06
            git pull origin main